

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title-link:link { text-decoration: none; }
.title-link:visited { text-decoration: none; }

.title-link:hover { 
  text-decoration:underline; 
  text-decoration-color: #000; 
}

.userName-link:link,.userName-link:visited{
  text-decoration: none ;
  text-decoration-color: #000; 
}

.userName-link:hover{
  text-decoration:underline; 
}